/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffcdcd;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

/* 页眉样式 */
header {
    background-color: #db7979;
    color: #fff;
    padding: 10px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    margin-right: 20px;
}

.search-container input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.search-container button {
    padding: 8px 16px;
    background-color: #c94848;
    border: none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    cursor: pointer;
}

.login-container a {
    color: #fff;
    text-decoration: none;
}

/* 侧边栏样式 */
.sidebar {
    width: 100px;
    /* background-color: #fff; */
    padding: 20px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu li a {
    color: #333;
    text-decoration: none;
}

/* 页脚样式 */
footer {
    background-color: #2f343a;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 響應式網頁 */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .sidebar {
        flex: 1 0 100%;
    }
    
    .main {
        flex: 1 0 100%;
    }
}

/*  */
.ratings {
    margin-top: 20px;
    margin-left: 50px;
    width: 100%;
    max-width: 100px;
}

.ratings h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.ratings ul {
    list-style-type: none;
    padding: 0;
}

.ratings li {
    margin-bottom: 5px;
}

.ratings li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
}


/* 页面内容样式 */
main {
    flex: 1;
    background-color: #fff;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 80px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.search-button {
    padding: 6px 12px;
    font-size: 16px;
    height: 30px;
    background-color: #c94848;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.search-button:hover {
    background-color: #b53e3e;
}

.search-button:focus {
    outline: none;
}


/* main */
.dropdown {
    margin-bottom: 20px;
}

.dropdown select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.dropdown {
    margin-right: 10px;
}

  
.content {
    max-width: 800px;
    margin: 0 auto;
    display:  grid;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.post-item {
    flex-basis: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.post-item-inner {
    display: flex;
    flex-direction: column;
}

.post-item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.post-description {
    text-align: center;
}

.post-item-content {
    width: 180px; /* 控制帖子项的宽度 */
    margin-right: 20px;
    margin-bottom: 20px;
}

.post-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-image {
    display: block;
    width: 150px;
    height: 100px;
    background-size: cover;
}

.button-text {
    margin-top: 10px;
}
