/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5ded0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    
}

/* 页眉样式 */
header {
    background-color: #DDBEA9;
    color: #fff;
    padding: 10px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 30px;
    height: 30px;
}
 
.logo h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    margin-right: 20px;
}

.search-container input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.search-container button {
    padding: 8px 16px;
    background-color: #DDBEA9;
    border: none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    cursor: pointer;
}

.login-container a {
    color: #fff;
    text-decoration: none;
}

/* 侧边栏样式 */
.sidebar {
    width: 100px;
    /* background-color: #fff; */
    padding: 20px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu li a {
    color: #333;
    text-decoration: none;
}

/* 右側排序 */
.ratings {
    margin-top: 20px;
    margin-left: 50px;
    width: 100%;
    max-width: 100px;
}

.ratings h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.ratings ul {
    list-style-type: none;
    padding: 0;
}

.ratings li {
    margin-bottom: 5px;
}

.ratings li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
}

/* 響應式網頁 */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .sidebar {
        flex: 1 0 100%;
    }
    
    .main {
        flex: 1 0 100%;
    }
}


/* 页脚样式 */
footer {
    background-color: #2f343a;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 页面内容样式 */
main {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    
}

.content {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 80px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* 頭像六邊形 */
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.search-button {
    padding: 8px 16px;
    background-color: #d1b291;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

/* 添加历届课程学习成果的样式 */
.course-results {
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
}

.course-results h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.course-results .result-item {
    margin-bottom: 15px;
}

.course-results .result-item .course-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.course-results .result-item .score {
    font-size: 14px;
}

.dropdown-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.dropdown-container .dropdown {
    margin-right: 10px;
    font-size: 16px;
}

.dropdown-container .search-button {
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
}


.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
/* 歷屆課程學習成果滾輪 */
.course-results {
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
}

.course-results h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dropdown-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.dropdown-container .dropdown {
    margin-right: 10px;
}

.dropdown-container .search-button {
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
}

.scroll-container {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.result-list {
    padding: 0;
    list-style-type: none;
}

.result-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.result-list li:last-child {
    border-bottom: none;
}
/* 6個方框 */
.function-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.function-box {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    background-color: #d6bba2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.box-button {
    width: 100px;
    height: 150px;
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

/* coin */
.coin-record {
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .coin-record h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .coin-record .scroll-container {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .coin-record .coin-list {
    padding: 0;
    list-style-type: none;
  }
  
  .coin-record .coin-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .coin-record .coin-list li:last-child {
    border-bottom: none;
  }
  